.header {
    display: flex;
    justify-content: space-between;
    padding: 0 165px;
}

.nav {
    font-family: 'Roboto';
    color: #505F98;
    font-weight: 400;
    font-size: 14px;
}


.menu {
    display: flex;
    gap: 60px;
}

.title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 26px;
    color: #37447E;
}

.header-btn {
    font-family: 'Roboto';
    font-weight: 500;
    width: 160px;
    height: 24.7px;
    background: #111B47;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
}